
$black-color: black;
$white-color: black;
$orange-color:#FC8E00;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.paginate-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 100%;
  .paginate-a,
  .paginate-next-a,
  .paginate-prev-a,
  .paginate-break-a {
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    &:focus {
      outline: 0;
    }
  }
  .paginate-li {
    margin: 0 2rem;
    color: $white-color;
    border-radius: 5px;
    font-size: 20px;
  }
  .paginate-previous,.paginate-next{
    color: $white-color; 
    font-size: 40px;
    margin: 0 2rem;
    padding: 0.2rem 1rem;
  }
 
  .paginate-active {
    color: $black-color;
    background: $orange-color;
    padding: 0.3rem ;
  }
  .paginate-disabled > a {
    cursor: not-allowed;
    background: transparent;
    color: #666;
    body.light & {
      color: #ccc;
    }
    &:hover {
      background: transparent !important;
    }
  }
  @media only screen and (max-width: 700px) {
    .paginate-previous,.paginate-next{
      padding: 0.2rem 0rem;
      margin: 0 0.6rem;
    }
    .paginate-li {
      margin: 0 0.3rem;
      font-size: 20px;
    }
   
  }
  @media only screen and (max-width: 450px) {
    .paginate-previous,.paginate-next{
      padding: 0.2rem 0rem;
      margin: 0 0.3rem;
    }
    .paginate-li {
      margin: 0 0.2rem;
      font-size: 15px;
    }
  }
}
.productStore{
  border-radius: 50%;
}




